<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        <!--namespace:命名空间，接口名+包名-->
<mapper namespace="com.dxf.mapper.UserMapper">
    <select id="getAll" resultType="com.dxf.beans.User">
        select * from t_user;
    </select>
    <update id="incrementAccess">
        update t_user set website_access_num = website_access_num + 1 where id = #{id}
    </update>
    <update id="incrementNum">
        update t_user set website_num = website_num + 1 where id = #{id}
    </update>
    <update id="decrement">
        update t_user set website_access_num = website_access_num - 1 where id = #{id}
    </update>
</mapper>